<div class='page-header'>
  <h1> Your Favourites Posts </h1>
</div>
<table>
  <% @posts.each do |post| %>
    <tr>
      <td>
        <blockquote>
          <p><%= post.title %></p>
          <p><small>posted by <%= post.user.name%></small></p><br>
          <div id="fav"><%=link_to 'favourite', favourite_post_path(post.id), class:"btn btn-default btn-xs",id: "fav#{post.id}"%></div>
        </blockquote>
      </td>
    </tr>
  <%end%>
</table>