<h3>Update Your Informations</h3>

<%= link_to "Profile",  edit_profile_path(current_user)%>
<%= link_to "Address",  edit_address_profile_path(current_user)%>
<%= link_to "Previous Company",  edit_company_profile_path(current_user)%>