<div id="main">
  <%=render 'userprofile'%>
  <div id="allpost" style="float:left;width:46%;">
    <div class="headeinner">
      <h2>Tweets</h2>
    </div>
    <div id="allpostshow">
    <%=render partial: "post", collection: @posts%>
  </div>
  </div>
    <%=render "userfollowfollowing"%>
</div>

<div class="modal fade" id="post_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="padding-top: 220px;width: 37%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"> Comment on Tweet</h4>
      </div>
      <div class="modal-body get_comment" contenteditable="true">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary new_comment" data-dismiss="modal">Tweet</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="read_comment_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="padding-top: 220px;width: 37%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"> Read Comments</h4>
      </div>
      <div class="modal-body show_comment">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary read_comment_model" data-dismiss="modal">Tweet</button>
      </div>
    </div>
  </div>
</div>

