<div id="main">
  <%=render 'userprofile'%>
  <div id="allpost" style="float:left;width:46%;">
    <div class="headeinner">
      <h2>Tweets</h2>
    </div>
    <div id="allpostshow">
    <%=render partial: "post", collection: @posts%>
  </div>
  </div>
    <%=render "userfollowfollowing"%>
</div>

