$('#refreshfollowingsdiv').replaceWith('<% @followings.each do |follow|%><ul class="nav nav-pills"><li style="padding:0px;"><%=link_to user_path(follow) do %><% if follow.profile.present? %><%= image_tag follow.profile.image.url, size: "48x48"%><% else %><%= image_tag "default.jpg", size: "48x48" %><% end %><span class="fullname"><%=follow.name.upcase%><span><% end %></li></ul><% end %>');
