.homelayout{
	top:0px;
	width:1060px;
	height: 60px;
	background-color: #E0EEEE;
}
.pos_fixed {
    position: fixed;
    top: 10px;
    right: 5px;
}
.pos_fixed1 {
    position: fixed;
    top: 10px;
    right: 80px;
}
.post{
    margin-left:5px;
    margin-top:5px;
  }
